
.formulario {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    & titulo{
        font-weight: bold;
    }
    &_columna {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
    }
}

